body {
    background-color: hsl(0, 100%, 74%);
    background-image: url("./assets/bg-intro-mobile.png");
    margin: 200px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
}

@media (min-width: 1440px) {
    body {
        background-image: url("./assets/bg-intro-desktop.png");
    }
}

h1 {
    font-weight: 700;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;
}

.form {
    width: 100%;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid hsl(246, 25%, 77%);
}

input:focus {
    outline: none;
    border: 1px solid hsl(249, 10%, 26%);
}

form {
    border: 1px solid transparent;
    background-color: #FFF;
    padding: 3em;
    width: 100%;
    border-radius: 5px;
}

#terms {
    color: hsl(246, 25%, 77%);
    text-align: center;
    font-size: 10px;
}

#terms-highlighted {
    color: hsl(0, 100%, 74%);
    font-weight: 600;
}

button {
    padding: 14px 20px;
    min-width: 100%;
    background-color: hsl(248, 32%, 49%);
    color: #FFF;
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 8px 0;
}

form > button {
    background-color: hsl(154, 59%, 51%);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.info {
    align-items: center;
    justify-content: center;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-right: 2em;
}

.emphasized {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

::placeholder {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}